
<%- include('./partials/header') -%>

<%- include('./partials/body') -%>
<div id="capabilities1">
  <%- include('capabilities1') -%>
</div>
<div id="capabilities2">
  <%- include('capabilities2') -%>
</div>
<div id="projects">
  <%- include('projects') -%>
</div>

<%- include('./partials/loginmodal') -%>

<%- include('./partials/footer') -%>
